<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/KhuChin/ans_lab1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

In [2]:
file_path = "/content/drive/MyDrive/Colab Notebooks/Dataset/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(file_path, sep='\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(n=10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1 - using len(df.axes[]) function

# computing number of rows
rows = len(chipo.axes[0])

# computing number of columns
cols = len(chipo.axes[1])

print("Number of Rows: ", rows)
print("Number of Columns: ", cols)

Number of Rows:  4622
Number of Columns:  5

In [6]:
# Solution 2 - using Info() function

print(chipo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

### Step 6. What is the number of columns in the dataset?

In [7]:
# computing number of columns
cols = len(chipo.axes[1])

print("Number of Columns: ", cols)

Number of Columns:  5

### Step 7. Print the name of all the columns.

In [8]:
# Get the list of all column names from headers
column_headers = list(chipo.columns.values)
print("The Column Header :", column_headers)

The Column Header : ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [9]:
# We can use loc[] function method to return specified rows and/or columns that we want

# example

#selects and prints all the data in the 'col 3' column of the chipo DataFrame.
first_loc = chipo.loc[:,'item_name']
print(f'First .loc:\n{first_loc}\n')

First .loc:
0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [10]:
#selects and prints all columns for the first two rows of the chipo DataFrame
second_loc = chipo.loc[:2]
print(f'Second .loc:\n{second_loc}\n')

Second .loc:
   order_id  quantity                     item_name choice_description  \
0         1         1  Chips and Fresh Tomato Salsa                NaN
1         1         1                          Izze       [Clementine]
2         1         1              Nantucket Nectar            [Apple]

  item_price
0     $2.39
1     $3.39
2     $3.39

In [11]:
#selects and prints 0 and rows and starting from quantity until the end of columns from the chipo DataFrame
third_loc = chipo.loc[[0,3],'quantity':]
print(f'Third .loc:\n{third_loc}')

Third .loc:
   quantity                              item_name choice_description  \
0         1           Chips and Fresh Tomato Salsa                NaN
3         1  Chips and Tomatillo-Green Chili Salsa                NaN

  item_price
0     $2.39
3     $2.39

### Step 9. Which was the most-ordered item?

In [12]:
most_ordered_item= pd.read_table(file_path, header=0)
highest_ordered_item = most_ordered_item.groupby(['item_name','choice_description'])['choice_description'].agg(['count'])
groupby_highest_ordered_item = highest_ordered_item.sort_values(by="count", ascending=False)

print(groupby_highest_ordered_item)

                                                                      count
item_name         choice_description
Canned Soft Drink [Coke]                                                102
                  [Diet Coke]                                            95
                  [Sprite]                                               55
                  [Lemonade]                                             31
Canned Soda       [Coca Cola]                                            26
...                                                                     ...
Chicken Burrito   [Fresh Tomato Salsa, [Cheese, Sour Cream]]              1
                  [Fresh Tomato Salsa, [Cheese, Rice, Black Beans...      1
                  [Fresh Tomato Salsa, [Cheese, Lettuce]]                 1
                  [Fresh Tomato Salsa, [Black Beans, Pinto Beans,...      1
Veggie Soft Tacos [Tomatillo Red Chili Salsa, [Fajita Vegetables,...      1

[1859 rows x 1 columns]

In [13]:
name_of_most_ordered_item = groupby_highest_ordered_item.head(1).index[0][0]
print(f"The most-ordered item is: {name_of_most_ordered_item}")

The most-ordered item is: Canned Soft Drink

### Step 10. For the most-ordered item, how many items were ordered?

In [14]:
name_of_most_ordered_item = groupby_highest_ordered_item.head(1).values[0][0]
print(f"The total of most-ordered item is: {name_of_most_ordered_item}")

The total of most-ordered item is: 102

### Step 11. What was the most ordered item in the choice_description column?

In [15]:
name_of_most_ordered_item = groupby_highest_ordered_item.head(1).index[0][1]
print(f"The most ordered item in the choice_description column: {name_of_most_ordered_item}")

The most ordered item in the choice_description column: [Coke]

### Step 12. How many items were orderd in total?

In [16]:
total_item =  groupby_highest_ordered_item['count'].sum()

print(f"There are {total_item } ordered in total")

There are 3376 ordered in total

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [22]:
#print all list datatypes in all columns
print(chipo.dtypes)

print()

#print datatype of item_price column
print(f"The type of item_price: {chipo['item_price'].dtypes}")

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

The type of item_price: object

#### Step 13.b. Create a lambda function and change the type of item price

In [25]:
change_item_price = chipo['item_price'].apply(lambda x: float(x.strip('$')))

#### Step 13.c. Check the item price type

In [27]:
change_item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [40]:
total_revenue = sum(change_item_price)

print(f"The total revenue is ${total_revenue:.2f}")

The total revenue is $34500.16

### Step 15. How many orders were made in the period?

In [30]:
total_order_id = chipo['order_id'].count()

print(f"The total orders were made in the period: {total_order_id }")

The total orders were made in the period: 4622

### Step 16. What is the average revenue amount per order?

In [41]:
# Solution 1 - using mathematical logic
average_revenue1 = total_revenue/total_order_id

print(f"The total revenue is ${average_revenue1:.2f}")

The total revenue is $7.46

In [48]:
# Solution 2 - using mean() function

average_revenue2 = change_item_price.mean()

print(f"The total revenue is ${average_revenue2:.2f}")

The total revenue is $7.46

### Step 17. How many different items are sold?

In [49]:
different_items = chipo['item_name'].nunique()
print(f'The different items are sold: {different_items}')

The different items are sold: 50