# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [93]:
chipo = pd.read_table('https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
# Solution 1 - Using len()

num_rows1 = len(chipo)
print(f'the number of observations in the dataset is {num_rows1}.')    # Python 3.6 new thing :)

the number of observations in the dataset is 4622.

In [17]:
# Solution 2 - Using .shape

num_rows2, num_cols = chipo.shape

print(f'The dataset has {num_rows2} rows/observations')

The dataset has 4622 rows/observations

In [19]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 6. What is the number of columns in the dataset?

In [18]:
print(f'The dataset has {num_cols} columns')

The dataset has 5 columns

### Step 7. Print the name of all the columns.

In [27]:
print('Names of all the columns:', chipo.columns.tolist())

Names of all the columns: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [41]:
chipo.index.names[0]        #if the dataset is indexed, the name of the columns will appears.
                            #source? https://github.com/drshahizan/python-tutorial/blob/main/cheatsheet/python_for_data_science.pdf

The dataset does not has a dedicated index

### Step 9. Which was the most-ordered item?

In [53]:
chipo.columns         #getting the columns name

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [51]:
ordered_list = chipo['item_name'].value_counts()
most_ordered = ordered_list.index[0]
print(f'the most ordered item: {most_ordered} \n\n ')
print('Top 10 Most Ordered Items:')
print('Item \t\t\t\tAmount')
print('--------------------------------------')
print(ordered_list.head(10))

the most ordered item: Chicken Bowl


Top 10 Most Ordered Items:
Item 				Amount
--------------------------------------
Chicken Bowl                    726
Chicken Burrito                 553
Chips and Guacamole             479
Steak Burrito                   368
Canned Soft Drink               301
Steak Bowl                      211
Chips                           211
Bottled Water                   162
Chicken Soft Tacos              115
Chips and Fresh Tomato Salsa    110
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [50]:
amount = ordered_list.max()
print(f'{amount} items')

726 items

### Step 11. What was the most ordered item in the choice_description column?

In [64]:
ordered_list = chipo['choice_description'].value_counts()
most_ordered = ordered_list.index[0]
print(f'the most ordered choice: {most_ordered} \n\n ')
print('Top 10 Most Ordered Choice:')
print('Item \t\t\t\t\t\t\t\t\t\t    Amount')
print('-------------------------------------------------------------------------------------------')
print(ordered_list.head(10))

the most ordered choice: [Diet Coke]


Top 10 Most Ordered Choice:
Item 										    Amount
-------------------------------------------------------------------------------------------
[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                  36
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                         33
[Lemonade]                                                                            33
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                             29
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                     28
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [149]:
items_ordered = chipo['quantity'].sum()
print('Total items ordered:',items_ordered)

Total items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [95]:
datatype = chipo['item_price'].dtype
print(f'The item price data type is {datatype}')

The item price data type is object

#### Step 13.b. Create a lambda function and change the type of item price

In [105]:
chipo['item_price'].head(10) #checking format of item price

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
5    $10.98
6     $1.69
7    $11.75
8     $9.25
9     $9.25
Name: item_price, dtype: object

In [108]:
chipo['item_price']=chipo['item_price'].apply(lambda x: round(float(x.strip('$')),2)) #need to strip '$' sign

#### Step 13.c. Check the item price type

In [109]:
item_type = chipo['item_price'].dtype
print('The item price data type is', item_type)

The item price data type is float64

### Step 14. How much was the revenue for the period in the dataset?

In [111]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [112]:
chipo['total_price'] = chipo['item_price'] * chipo['quantity']      #creating a new column with the total price = item price * quantity

In [114]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25

In [119]:
revenue = chipo['total_price'].sum()
print(f'The total revenue for this period is ${revenue}')

The total revenue for this period is $39237.02

### Step 15. How many orders were made in the period?

In [122]:
total_order = chipo['order_id'].nunique()
print('Total orders made is', total_order)

Total orders made is 1834

### Step 16. What is the average revenue amount per order?

In [126]:
# Solution 1 - average from total revenue

average_rev1 = revenue/total_order
print(f'Average from total revenue: ${round(average_rev1,2)}')

Average from total revenue: $21.39

In [141]:
# Solution 2 - mean as a average of each order

average_rev2 = chipo.groupby('order_id')['total_price'].sum().mean()

print(f'Mean as a average of each order: ${round(average_rev2,2)}')

Mean as a average of each order: $21.39

### Step 17. How many different items are sold?

In [150]:
items_sold = chipo['quantity'].sum()
diff_items = chipo['item_name'].nunique()

print(f'There are {items_sold} items sold from {diff_items} different items.')

There are 4972 items sold from 50 different items.