<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/ByteNav/lab1/ans_lab1d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1d - Filtering and Sorting Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
dataset = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(dataset, sep='\t', encoding='utf-8')

### Step 4. How many products cost more than $10.00?

In [22]:
chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '', regex=False).astype(float)

products_morethan10 = chipo[chipo['item_price'] > 10.00]
num_products_morethan10 = products_morethan10.shape[0]
print("Number of products cost more than $10.00:", num_products_morethan10)

Number of products cost more than $10.00: 1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [32]:
price_item = chipo[['item_name','item_price']]
print(price_item)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [35]:
sorted_item = chipo.sort_values(by='item_name')

### Step 7. What was the quantity of the most expensive item ordered?

In [40]:
most_expensive_item = chipo[chipo['item_price'] == chipo['item_price'].max()]
quantity_most_expensive = most_expensive_item['quantity'].values[0]
print("Quantity of the most expensive item ordered:", quantity_most_expensive)

Quantity of the most expensive item ordered: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [41]:
veggie_salad_bowl_ordered = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
num_veggie_salad_bowl_ordered = veggie_salad_bowl_ordered['quantity'].sum()
print("Number of times Veggie Salad Bowl was ordered:", num_veggie_salad_bowl_ordered)

Number of times Veggie Salad Bowl was ordered: 18

### Step 9. How many times did someone order more than one Canned Soda?

In [44]:
canned_soda_order = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
num_canned_soda_order = canned_soda_order.shape[0]
print("Number of times someone order more than one Canned Soda:", num_canned_soda_order)

Number of times someone order more than one Canned Soda: 20