<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/ByteNav/lab1/ans_lab1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo= pd.read_csv('https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
rows = len(chipo.axes[0])
print('There are', rows,'rows of data in the dataset')

There are 4622 rows of data in the dataset

In [ ]:
# Solution 2
rows =chipo.shape[0]
print('There are', rows,'rows of data in the dataset')

There are 4622 rows of data in the dataset

### Step 6. What is the number of columns in the dataset?

In [ ]:
cols = chipo.shape[1]
print('There are', cols,'columns in the dataset')

There are 5 columns in the dataset

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
chipo['item_name'].mode()

0    Chicken Bowl
Name: item_name, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
chipo['item_name'].value_counts().max()

726

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
chipo['choice_description'].mode()

0    [Diet Coke]
Name: choice_description, dtype: object

### Step 12. How many items were orderd in total?

In [ ]:
chipo['choice_description'].count()

3376

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
chipo['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
float_item = lambda x: x.str.replace('$','').astype(float)
chipo['item_price'] = float_item(chipo['item_price'])

<ipython-input-232-d613d5b1cae7>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  float_item = lambda x: x.str.replace('$','').astype(float)

#### Step 13.c. Check the item price type

In [ ]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
revenue = chipo['item_price'].sum()
print('The revenue for the period in the dataset is $', revenue)

The revenue for the period in the dataset is $ 34500.16

### Step 15. How many orders were made in the period?

In [ ]:
total_orders = chipo['order_id'].count()
print('There are', total_orders, 'orders were made in the period')

There are 4622 orders were made in the period

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
avg_revenue = chipo['item_price'].mean()
print('The average revenue amount per order is $', avg_revenue)

The average revenue amount per order is $ 7.464335785374297

In [ ]:
# Solution 2
avg_revenue = chipo['item_price'].sum()/chipo['order_id'].count()
print('The average revenue amount per order is $', avg_revenue)

The average revenue amount per order is $ 7.464335785374297

### Step 17. How many different items are sold?

In [ ]:
diff_items = chipo['item_name'].nunique()
print('There are', diff_items,'different items are sold')

There are 50 different items are sold