<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/NewATG/Answer_lab1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

In [2]:
!wget https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv

--2023-10-30 11:54:38--  https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 364975 (356K) [text/plain]
Saving to: ‘chipotle.tsv’

chipotle.tsv        100%[===================>] 356.42K  --.-KB/s    in 0.05s

2023-10-30 11:54:38 (7.18 MB/s) - ‘chipotle.tsv’ saved [364975/364975]

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_table('chipotle.tsv')

### Step 4. See the first 10 entries

In [4]:
first_10_entries = chipo.head(10)
print(first_10_entries)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
num_observations = chipo.shape[0]
print("Number of observations:", num_observations)

Number of observations: 4622

In [6]:
# Solution 2
num_observations = len(chipo.index)
print("Number of observations:", num_observations)

Number of observations: 4622

### Step 6. What is the number of columns in the dataset?

In [7]:
num_columns = chipo.shape[1]
print("Number of columns:", num_columns)

Number of columns: 5

### Step 7. Print the name of all the columns.

In [8]:
column_names = chipo.columns
print("Column Names:")
for column in column_names:
  print(column)

Column Names:
order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
chipo.item_name.value_counts().head(1)[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
chipo.choice_description.value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [13]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
convert_to_float = lambda x: float(x.replace('$', ''))

chipo['item_price'] = chipo['item_price'].apply(convert_to_float)

#### Step 13.c. Check the item price type

In [16]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
total_revenue = chipo['revenue'].sum()

print("Total Revenue for the Period: $", total_revenue)

Total Revenue for the Period: $ 39237.02

### Step 15. How many orders were made in the period?

In [18]:
print("Total Orders made in the period:", chipo.order_id.value_counts().count())

Total Orders made in the period: 1834
Total Orders made in the period: 1834

### Step 16. What is the average revenue amount per order?

In [20]:
# Solution 1
order_revenue = chipo.groupby('order_id')['revenue'].sum()

average_revenue_per_order = order_revenue.mean()

print("Average Revenue Per Order:", average_revenue_per_order)

Average Revenue Per Order: 21.39423118865867

In [21]:
# Solution 2
avg_per_order = (chipo['quantity'] * chipo['item_price']).sum() / chipo['order_id'].nunique()
print("Average Revenue Per Order:", avg_per_order)

Average Revenue Per Order: 21.39423118865867

### Step 17. How many different items are sold?

In [22]:
chipo.item_name.value_counts().count()

50