<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/NewATG/ans_lab1d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1d - **Filtering and Sorting Data**

## Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

## Step 2. Import the dataset from this address.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv', delimiter='\t')

#display the dataset
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## Step 3. Assign it to a variable called chipo.

In [ ]:
#want to read same dataset but work it separately
chipo = df

## Step 4. How many products cost more than $10.00?

In [ ]:
df['item_price'] = df['item_price'].str.replace('$', '').astype(float) #need to remove the $ in order avoid any misread the dataset and ease the selection of data
products = df[df['item_price']>10.00]  #to check what product cost more than $10.00
count_products = len(products)  #sum up all the products > 10.00
print("Number of products cost more than $10.00:", count_products)

Number of products cost more than $10.00: 1130

<ipython-input-18-67935718ac11>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price'] = df['item_price'].str.replace('$', '').astype(float) #need to remove the $ in order avoid any misread the dataset and ease the selection of data

## Step 5. What is the price of each item?
print a data frame with only two columns item_name and item_price

In [ ]:
prices = df[['item_name','item_price']]

print(prices)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

## Step 6. Sort by the name of the item

In [ ]:
sort_item = df.sort_values(by='item_name')

print(sort_item)

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
3132      1248         1  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
...        ...       ...                ...
738        304         1  Veggie Soft Tacos
3889      1559         2  Veggie Soft Tacos
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
3132                                        [Diet Coke]        6.49
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
...                                                 ...         ...
738   [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
3889  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...       16.98
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

## Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
# Find
df['total_price'] = df['item_price'] * df['quantity']
max_totprice = df['total_price'].max() #filter by finding max total price

# Filter
most_expensive_item = df[df['total_price'] == max_totprice] #to put all the meximum tot price and filter it into this new var
count_most_expensive = most_expensive_item['quantity'].values[0]

# Display
print("The quantity of the most expensive item: " + str(count_most_expensive))

The quantity of the most expensive item: 15

## Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
veggie_sbowl = df[df['item_name'] == "Veggie Salad Bowl"]
count_veggie_sbowl = len(veggie_sbowl)

print("The number of Veggie Salad Bowl ordered: " + str(count_veggie_sbowl))

The number of Veggie Salad Bowl ordered: 18

## Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
#Find Canned Soda
canned_soda = df[df['item_name'] == "Canned Soda"]

#Filter based on requirement
filter_canned_soda = canned_soda[canned_soda['quantity'] > 1]

#Count the total of values found
count_canned_soda = len(filter_canned_soda)

#Display it
print("The number of  times which someone order more than one Canned Soda: " + str(count_canned_soda))

The number of  times which someone order more than one Canned Soda: 20