<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/3H/lab1d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1d - Filtering and Sorting Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [29]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [57]:
import pandas as pd

chipo['calculated_price'] = chipo['item_price'] / chipo['quantity']

items_price_above_10 = chipo[chipo['calculated_price'] > 10.00]

unique_items_price_above_10 = items_price_above_10[['item_name', 'calculated_price']].drop_duplicates(subset='item_name')

print(unique_items_price_above_10)

                  item_name  calculated_price
5              Chicken Bowl             10.98
7             Steak Burrito             11.75
23          Chicken Burrito             10.98
39            Barbacoa Bowl             11.75
57           Veggie Burrito             11.25
62              Veggie Bowl             11.25
79       Chicken Soft Tacos             11.25
90               Steak Bowl             11.75
93         Carnitas Burrito             11.75
97            Carnitas Bowl             11.75
130        Barbacoa Burrito             11.75
135      Chicken Salad Bowl             11.25
168   Barbacoa Crispy Tacos             11.75
186       Veggie Salad Bowl             11.25
250           Chicken Salad             10.98
281        Steak Salad Bowl             11.89
365    Chicken Crispy Tacos             11.25
738       Veggie Soft Tacos             11.25
988     Barbacoa Soft Tacos             11.75
1008  Carnitas Crispy Tacos             11.75
1132    Carnitas Salad Bowl             11.89
1229    Barbacoa Salad Bowl             11.89
1353       Steak Soft Tacos             11.75
1963    Carnitas Soft Tacos             11.75
2231     Steak Crispy Tacos             11.75

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [58]:
import pandas as pd

chipo['calculated_price'] = chipo['item_price'] / chipo['quantity']

all_unique_items = chipo[['item_name', 'calculated_price']].drop_duplicates(subset='item_name')

print(all_unique_items)

                                  item_name  calculated_price
0              Chips and Fresh Tomato Salsa              2.39
1                                      Izze              3.39
2                          Nantucket Nectar              3.39
3     Chips and Tomatillo-Green Chili Salsa              2.39
4                              Chicken Bowl              8.49
6                             Side of Chips              1.69
7                             Steak Burrito             11.75
8                          Steak Soft Tacos              9.25
10                      Chips and Guacamole              4.45
11                     Chicken Crispy Tacos              8.75
12                       Chicken Soft Tacos              8.75
16                          Chicken Burrito              8.49
18                              Canned Soda              1.09
21                         Barbacoa Burrito              8.99
27                         Carnitas Burrito              8.99
33                            Carnitas Bowl              8.99
34                            Bottled Water              1.09
38    Chips and Tomatillo Green Chili Salsa              2.95
39                            Barbacoa Bowl             11.75
40                                    Chips              2.15
44                       Chicken Salad Bowl              8.75
54                               Steak Bowl              8.99
56                      Barbacoa Soft Tacos              9.25
57                           Veggie Burrito             11.25
62                              Veggie Bowl             11.25
92                       Steak Crispy Tacos              9.25
111     Chips and Tomatillo Red Chili Salsa              2.95
168                   Barbacoa Crispy Tacos             11.75
186                       Veggie Salad Bowl             11.25
191      Chips and Roasted Chili-Corn Salsa              2.39
233      Chips and Roasted Chili Corn Salsa              2.95
237                     Carnitas Soft Tacos              9.25
250                           Chicken Salad             10.98
263                       Canned Soft Drink              1.25
281                        Steak Salad Bowl             11.89
298                       6 Pack Soft Drink              6.49
300     Chips and Tomatillo-Red Chili Salsa              2.39
445                                    Bowl              7.40
510                                 Burrito              7.40
520                            Crispy Tacos              7.40
554                   Carnitas Crispy Tacos              9.25
664                             Steak Salad              8.99
674       Chips and Mild Fresh Tomato Salsa              3.00
738                       Veggie Soft Tacos             11.25
1132                    Carnitas Salad Bowl             11.89
1229                    Barbacoa Salad Bowl             11.89
1414                                  Salad              7.40
1653                    Veggie Crispy Tacos              8.49
1694                           Veggie Salad              8.49
3750                         Carnitas Salad              8.99

### Step 6. Sort by the name of the item

In [47]:
import pandas as pd

all_unique_items_1 = chipo.loc[:, ['item_name']]

sorted_name = all_unique_items_1.sort_values(by='item_name', ascending=True)

distinct_items = sorted_name.drop_duplicates(subset='item_name')

print(distinct_items)

                                  item_name
3389                      6 Pack Soft Drink
418                           Barbacoa Bowl
1202                       Barbacoa Burrito
1019                  Barbacoa Crispy Tacos
3546                    Barbacoa Salad Bowl
3548                    Barbacoa Soft Tacos
2441                          Bottled Water
673                                    Bowl
760                                 Burrito
1142                            Canned Soda
964                       Canned Soft Drink
1359                          Carnitas Bowl
1097                       Carnitas Burrito
554                   Carnitas Crispy Tacos
3750                         Carnitas Salad
2610                    Carnitas Salad Bowl
2299                    Carnitas Soft Tacos
4555                           Chicken Bowl
2026                        Chicken Burrito
1027                   Chicken Crispy Tacos
2968                          Chicken Salad
3117                     Chicken Salad Bowl
1496                     Chicken Soft Tacos
2193                                  Chips
3506           Chips and Fresh Tomato Salsa
311                     Chips and Guacamole
674       Chips and Mild Fresh Tomato Salsa
2602     Chips and Roasted Chili Corn Salsa
1458     Chips and Roasted Chili-Corn Salsa
1593  Chips and Tomatillo Green Chili Salsa
1999    Chips and Tomatillo Red Chili Salsa
3657  Chips and Tomatillo-Green Chili Salsa
2972    Chips and Tomatillo-Red Chili Salsa
521                            Crispy Tacos
1213                                   Izze
2379                       Nantucket Nectar
1414                                  Salad
1120                          Side of Chips
3190                             Steak Bowl
4546                          Steak Burrito
3503                     Steak Crispy Tacos
752                             Steak Salad
4391                       Steak Salad Bowl
4549                       Steak Soft Tacos
2326                            Veggie Bowl
1959                         Veggie Burrito
1653                    Veggie Crispy Tacos
3471                           Veggie Salad
4201                      Veggie Salad Bowl
738                       Veggie Soft Tacos

### Step 7. What was the quantity of the most expensive item ordered?

In [67]:
import pandas as pd

chipo['calculated_price'] = chipo['item_price'] / chipo['quantity']

most_expensive_price = chipo['calculated_price'].max()

most_expensive_items = chipo[chipo['calculated_price'] == most_expensive_price]

total_quantity = most_expensive_items['quantity'].sum()

print(f"Total quantity: {total_quantity}")

Total quantity: 30

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [68]:
import pandas as pd

veggie_salad_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']

number_of_salad_orders = veggie_salad_orders['order_id'].nunique()

print("Number of orders for Veggie Salad Bowl:", number_of_salad_orders)

Number of orders for Veggie Salad Bowl: 18

### Step 9. How many times did someone order more than one Canned Soda?

In [69]:
import pandas as pd

soda_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]

soda_orders_count = soda_orders['order_id'].nunique()

print("Number of orders for Canned Soda with quantity > 1:", soda_orders_count)

Number of orders for Canned Soda with quantity > 1: 18