<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/MA1%20KTDI/lab1/ans_lab1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1b - Understanding Your Data

Please use the [**Occupation**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/u.user) dataset for this exercise.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from [**Occupation**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/u.user).

In [8]:
# Define the URL of the .user file
url = 'https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/u.user'

# Read the data into a DataFrame using Pandas
df = pd.read_csv(url, sep='|')

# Now you have the data in a Pandas DataFrame
print(df)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [12]:
users = pd.read_csv(url, sep='|', index_col='user_id')

# Now 'users' is a DataFrame with 'user_id' as the index
print(users)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Step 4. See the first 25 entries

In [9]:
df.head(25)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

### Step 5. See the last 10 entries

In [10]:
df.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [13]:
num_observations = users.shape[0]
print(f'The number of observations in the dataset is: {num_observations}')

The number of observations in the dataset is: 943

### Step 7. What is the number of columns in the dataset?

In [14]:
num_columns = users.shape[1]
print(f'The number of columns in the dataset is: {num_columns}')

The number of columns in the dataset is: 4

### Step 8. Print the name of all the columns.

In [15]:
column_names = users.columns
print("Column Names:")
for column in column_names:
    print(column)

Column Names:
age
gender
occupation
zip_code

### Step 9. How is the dataset indexed?

In [16]:
users = pd.read_csv(url, sep='|', index_col='user_id')

### Step 10. What is the data type of each column?

In [17]:
column_data_types = users.dtypes
print("Data Types of Each Column:")
print(column_data_types)

Data Types of Each Column:
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [18]:
occupation_column = users['occupation']
print(occupation_column)

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [19]:
unique_occupations = users['occupation'].unique()
num_occupations = len(unique_occupations)
print(f'The number of different occupations in the dataset is: {num_occupations}')

The number of different occupations in the dataset is: 21

### Step 13. What is the most frequent occupation?

In [20]:
most_frequent_occupation = users['occupation'].value_counts().idxmax()
print(f'The most frequent occupation is: {most_frequent_occupation}')

The most frequent occupation is: student

### Step 14. Summarize the DataFrame.

In [23]:
summary = users.describe()
print(summary)

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Step 15. Summarize all the columns

In [24]:
summary = users.describe(include='all')
print(summary)

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 16. Summarize only the occupation column

In [27]:
occupation_summary = users['occupation'].value_counts()
print(occupation_summary)

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

### Step 17. What is the mean age of users?

In [30]:
mean_age = users['age'].mean()
print(f'The mean age of users is: {mean_age:.2f}')

The mean age of users is: 34.05

### Step 18. What is the age with least occurrence?

In [31]:
age_counts = users['age'].value_counts()
age_with_least_occurrence = age_counts[age_counts == age_counts.min()]
print(f'The age(s) with the least occurrence is/are: {age_with_least_occurrence.index.tolist()}')

The age(s) with the least occurrence is/are: [7, 66, 11, 10, 73]