<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/bunnies/lab1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

In [2]:
path = "https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(path, sep='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1

num_observations = chipo.shape[0]
print("Number of observations in the dataset:", num_observations)

Number of observations in the dataset: 4622

In [7]:
# Solution 2

num_observations = len(chipo)
print("Number of observations in the dataset:", num_observations)

Number of observations in the dataset: 4622

### Step 6. What is the number of columns in the dataset?

In [8]:
num_columns = chipo.shape[1]
print("Number of columns in the dataset:", num_columns)

Number of columns in the dataset: 5

### Step 7. Print the name of all the columns.

In [9]:
column_names = chipo.columns

print("All columns names:")
for column_name in column_names:
    print(column_name)

All columns names:
order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [13]:
most_ordered_item = chipo.groupby('item_name')['quantity'].sum().idxmax()

print("The most-ordered item is:", most_ordered_item)

The most-ordered item is: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [15]:
most_ordered_quantity = chipo.groupby('item_name')['quantity'].sum().max()
print("The most-ordered item is: {}, with a total of {}.".format(most_ordered_item, most_ordered_quantity))

The most-ordered item is: Chicken Bowl, with a total quantity of 761.

### Step 11. What was the most ordered item in the choice_description column?

In [18]:
most_ordered_choice = chipo.groupby('choice_description')['quantity'].sum().idxmax()
most_ordered_choice_quantity = chipo.groupby('choice_description')['quantity'].sum().max()

print("The most-ordered choice description is: {}, with a total of {}.".format(most_ordered_choice, most_ordered_choice_quantity))

The most-ordered choice description is: [Diet Coke], with a total of 159.

### Step 12. How many items were orderd in total?

In [19]:

total_items_ordered = chipo["quantity"].sum()
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [24]:
item_price_type = chipo['item_price'].dtype

print(item_price_type)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [25]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [26]:
item_price_type = chipo['item_price'].dtype

print(item_price_type)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [39]:
revenue = (chipo['item_price'] * chipo['quantity']).sum()
print("Total revenue for the period: $", revenue)

Total revenue for the period: $ 39237.02

### Step 15. How many orders were made in the period?

In [40]:
num_orders = chipo['order_id'].nunique()
print("Number of orders made in the period:", num_orders)

Number of orders made in the period: 1834

### Step 16. What is the average revenue amount per order?

In [41]:
# Solution 1
average_revenue_per_order = revenue / num_orders
print("Average revenue amount per order: ${:.2f}".format(average_revenue_per_order))

Average revenue amount per order: $21.39

In [46]:
# Solution 2
chipo['revenue'] = chipo['item_price'] * chipo['quantity']

average_revenue_per_order = chipo.groupby("order_id")["revenue"].sum().mean()
print("Average revenue amount per order: ${:.2f}".format(average_revenue_per_order))

Average revenue amount per order: $21.39

### Step 17. How many different items are sold?

In [47]:
num_different_items = chipo['item_name'].nunique()
print("Number of different items sold:", num_different_items)

Number of different items sold: 50