# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [5]:
!pip install panda
!pip install numpy

import pandas as pd
import numpy as np

Requirement already satisfied: panda in /usr/local/lib/python3.10/dist-packages (0.3.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from panda) (67.7.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from panda) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->panda) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->panda) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->panda) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->panda) (2023.7.22)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

In [7]:
path = "https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [10]:
chipo = pd.read_table(path)

### Step 4. See the first 10 entries

In [14]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [17]:
# Solution 1
chipo.shape[0]

4622

In [19]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [21]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [22]:
list(chipo.columns.values)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [24]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [28]:
chipo['item_name'].mode()[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [30]:
chipo['item_name'].value_counts().nlargest(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [31]:
chipo['choice_description'].mode()[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [33]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [42]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [47]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

#### Step 13.c. Check the item price type

In [48]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [51]:
 total = chipo['quantity']*chipo['item_price']
 total.sum()

39237.02

### Step 15. How many orders were made in the period?

In [68]:
len(chipo['order_id'].value_counts())

1834

### Step 16. What is the average revenue amount per order?

In [84]:
# Solution 1
total = (chipo['quantity']*chipo['item_price']).sum()
total/len(chipo['order_id'].value_counts())

21.39423118865867

In [101]:
# Solution 2
total = (chipo['quantity']*chipo['item_price'])
total.groupby(chipo['order_id']).sum().mean()

21.39423118865867

### Step 17. How many different items are sold?

In [76]:
len(chipo['item_name'].unique())

50